body{
    background-image: url("../images/crossline-lines.png");
    margin: 0;
    padding: 0;
}



#top-header{
    background: #ffffff; /*this background is covering my Name!*/
    width: 100%;
    margin: 0;
    border: 2px solid #cccccc;
}
header{
    display: inline-block;
    background: #4aaaa5;
    color: #ffffff;
    margin-left: 248px;
    padding: 20px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

nav{
    float: right;
    overflow: hidden;  /*use this style to protect the header from being overwritten. Remove this style and watch your name disappear.*/
    margin-right: 254px;
    padding-top: 50px;
    
}

#profile{
    /*box-sizing: border-box;*/
    display: inline;
    margin-right: 20px;
    margin-bottom: 20px;
    /*width: 20%*/
    float: left;
}
 

#trial{
    clear: both;
}
#title{
    overflow: hidden;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
}
#content{
    /*box-sizing: border-box;*/
    display: inline;
    /*width: 75%;*/
    /*margin-left: 20px; -- styled profile and content ids to fit this elements side by side.*/
    
   
}
#main-content{
    width: 960px;
    margin: 0 auto;
    border: 2px solid #dddddd;
    background: #ffffff;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 20px;
}

p{
    margin-top: 0 /*browser related clean up*/
}

a{
    text-decoration: none;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

